.c-draggable {
  cursor: pointer;
  transition: background .2s ease;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--el-border-color);
  &:hover {
    background-color: rgba(#ddd, .3);
  }
  > * {
    pointer-events: none;
  }
  svg {
    width: 25px;
    min-width: 25px;
  }
  p {
    pointer-events: none;
    width: 100%;
    padding: 10px;
    &::selection {
      background-color: transparent;
      color: var(--el-color-black);
    }
  }
}