@use 'src/styles/common/mixins' as *;

.c-sidebar {
  position: fixed;
  top: 0;
  height: 100vh;
  left: 0;
  overflow: hidden;
  transition: .2s ease;
  @include visible(false);
  width: 100%;
  z-index: 2;
  &__content {
    background-color: var(--el-bg-color);
    transform: translateX(-100%);
    transition: .2s ease;
    position: relative;
    overflow: auto;
    width: 100%;
    height: 100vh;
  }
  &__inner {
    padding: 10px;
    min-height: calc(100vh - 50px);
  }
  &--right {
    left: auto;
    right: 0;
  }
  &--right &__content {
    transform: translateX(100%);
  }
  &--active {
    @include visible(true);
  }
  &--active &__content {
    transform: translateX(0);
  }
  header {
    border-bottom: 1px solid var(--el-border-color);
    width: 100%;
    padding: 10px;
    position: relative;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    .el-button {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    > p {
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      padding: 0 40px;
      font-size: var(--el-font-size-large);
    }
  }
}